# Dependencies
node_modules

# Local Netlify folder
.netlify

# Local dev artifacts
netlify_dev.pid
netlify-dev.log

# Environment variables
.env

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
